.para{


  
    padding-right: 2cm;
    padding-top: .5cm;

    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
float: right;
}
body{


   
    background-size: cover;
    background-repeat: no-repeat;
}
.cont{

background: teal;   
padding: 10px; 
border-radius: 15px;
padding-right: 1cm;

}
h2{


    color: white;
}
.cur{

padding-right: 35%;
padding-left: 1cm;
margin: 1cm;
padding-top: 2cm;

}
.curr{


    padding: 1cm;
    background:wheat;
    border-radius: 15px;
}
.jum{

    margin-top: 1cm;
    padding-left: 2cm;
    padding-right: 2cm;

    

}
